%section.content
	.row
		.col-md-12
			.box.box-info
				.box-header.with-border
					%h3.box-title
						Attachments
				.box-body
					- @attachments.in_groups_of(3).each do |group|
						.row
							- group.each do |attachment|
								.col-md-4
									.box
										.box-body
											= link_to(image_tag(attachment.file.url(:thumb)), attachment_path(attachment))
										.box-footer
											= link_to(attachment.owner_name, attachment.owner_url)