/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 th.no-sort {
 	width: 15px;
 }

 .turbolinks-progress-bar {
   /*height: 5px;*/
   background-color: #E67436;
 }

form.kasoko-form {
	height: 95%;
}

.individual-trips {
    table-layout:fixed;
    width:100%;
    font-size: 8px;
 }

.no-link {
	text-decoration: none;
	color: black;
}

.panel-kasoko {
    border-color: #E67436; 
}

 .box-body.kasoko-body {
 	overflow-y: auto; padding-bottom: 25px; height: calc(100% - 50px);
 }

 .box-footer.kasoko-footer {
 	position: absolute; bottom: 0px; width: 100%;
 }

 .box.box-kasoko {
     border-top-color: #E67436;
     top: 0px; 
     height: 100%; 
     position: relative;
 }

 .btn-kasoko {
     color: #fff;
     background-color: #E67436;
     border-color: #E67436;
     text-decoration: none;
 }

 .btn-kasoko:hover {
     color: #E67436;
     background-color: #fff;
     border-color: #E67436;
     text-decoration: none;
 }

 a {
 	color: #E67436;
    text-decoration: none;
 }

 .kasoko-bg {
     background-color: #E67436;
 }

 .nav-tabs-custom > .nav-tabs > li.active {
     border-top-color: #E67436;
 }

 .profile-user-img {
     border: 3px solid #E67436;
 }

 .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
     z-index: 3;
     color: #fff;
     background-color: #E67436;
     border-color: #E67436;
     cursor: default;
 }

.content_wrapper {
	background-image: url('/truck.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
}

#gadano {
	font-size:34px;
	font-family:"lucida calligraphy",arial,'sans serif';
	color: green;
}

#gen-trade {
	font-size:34px;
	font-family: "Rockwell Extra Bold","Rockwell Bold",monospace;
	color: red;
}

/*.company-contact {
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
}*/
.logo-banner {
	/*background-image: asseturl('/truck.jpeg');*/
}
